In [234]:
import pandas as pd

In [68]:
def team_rank(year):
    dfs = pd.read_html(f'https://www.basketball-reference.com/playoffs/NBA_{year}.html')
    df = dfs[20]  # the third table in the page and remove the last row 
    df.columns = df.columns.droplevel()
    if year==2023:
        df = df.loc[:,['Team','W','L']]
    else:
        df = df.loc[:,['Tm','W','L']]
        df['Team']=df['Tm']
        df = df.drop('Tm',axis=1)
        df.drop(16,inplace=True)
    if year>=2003:
        df["Round Finished"] = df.apply(lambda row: 5 if row["W"] == 16 else
                                 4 if row["W"] >= 12 else
                                 3 if 8 <= row["W"] < 12 else
                                 2 if 4 <= row["W"] < 8 else
                                 1 if row["W"] < 4 and row["L"]>0 else
                                 -1, axis=1)
    else:
        df["Round Finished"] = df.apply(lambda row: 5 if row["W"] == 15 else
                                 4 if row["W"] >= 11 else
                                 3 if 7 <= row["W"] < 11 else
                                 2 if 3 <= row["W"] < 7 else
                                 1 if row["W"] < 3 and row["L"]>0 else
                                 -1, axis=1)          
    df = df.drop(['W','L'],axis=1)
    
    new = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2023_standings.html')
    east = new[0]
    west = new[1]
    west = west["Western Conference"].apply(lambda x: x.split("*")[0].strip()).str.split("(", expand=True)[0].str.strip()
    east = east["Eastern Conference"].apply(lambda x: x.split("*")[0].strip()).str.split("(", expand=True)[0].str.strip()
    teams = list(pd.concat([east,west]).reset_index(drop=True))
    for value in teams:
        if value not in df['Team'].values:
            df.loc[len(df)] = { 'Team': value, 'Round Finished': -1}
    df = df.sort_values('Round Finished',ascending = False).reset_index(drop = True)
    return df

In [77]:
year=2014
dfs = pd.read_html(f'https://www.basketball-reference.com/playoffs/NBA_2003.html')
df = dfs[20]  # the third table in the page and remove the last row 
df.columns = df.columns.droplevel()
if year==2023:
    df = df.loc[:,['Team','W','L']]
else:
    df = df.loc[:,['Tm','W','L']]
    df['Team']=df['Tm']
    df = df.drop('Tm',axis=1)
    df.drop(16,inplace=True)
if year>=2003:
    df["Round Finished"] = df.apply(lambda row: 5 if row["W"] == 16 else
                             4 if row["W"] >= 12 else
                             3 if 8 <= row["W"] < 12 else
                             2 if 4 <= row["W"] < 8 else
                             1 if row["W"] < 4 and row["L"]>0 else
                             -1, axis=1)
else:
    df["Round Finished"] = df.apply(lambda row: 5 if row["W"] == 15 else
                             4 if row["W"] >= 11 else
                             3 if 7 <= row["W"] < 11 else
                             2 if 3 <= row["W"] < 7 else
                             1 if row["W"] < 3 and row["L"]>0 else
                             -1, axis=1)          
df = df.drop(['W','L'],axis=1)
df

                      Team  Round Finished
0        San Antonio Spurs               5
1          New Jersey Nets               4
2         Sacramento Kings               2
3   Portland Trail Blazers               1
4          Detroit Pistons               3
5       Philadelphia 76ers               2
6       Los Angeles Lakers               2
7         Dallas Mavericks               3
8           Boston Celtics               2
9      New Orleans Hornets               1
10         Milwaukee Bucks               1
11            Phoenix Suns               1
12          Indiana Pacers               1
13  Minnesota Timberwolves               1
14           Orlando Magic               1
15               Utah Jazz               1

In [78]:
# empty_df = pd.DataFrame()
# for i in range(1999,2024,1):
#     print(i)
#     df = team_rank(i)
#     df['Year']=i
#     empty_df = pd.concat([empty_df,df], axis=0)

In [86]:
def team_rank(year, new):
    dfs = pd.read_html(f'https://www.basketball-reference.com/playoffs/NBA_{year}.html')
    df = dfs[20]  # the third table in the page and remove the last row 
    df.columns = df.columns.droplevel()
    if year==2023:
        df = df.loc[:,['Team','W','L']]
    else:
        df = df.loc[:,['Tm','W','L']]
        df['Team']=df['Tm']
        df = df.drop('Tm',axis=1)
        df.drop(16,inplace=True)
    if year>=2003:
        df["Round Finished"] = df.apply(lambda row: 5 if row["W"] == 16 else
                                 4 if row["W"] >= 12 else
                                 3 if 8 <= row["W"] < 12 else
                                 2 if 4 <= row["W"] < 8 else
                                 1 if row["W"] < 4 and row["L"]>0 else
                                 -1, axis=1)
    else:
        df["Round Finished"] = df.apply(lambda row: 5 if row["W"] == 15 else
                                 4 if row["W"] >= 11 else
                                 3 if 7 <= row["W"] < 11 else
                                 2 if 3 <= row["W"] < 7 else
                                 1 if row["W"] < 3 and row["L"]>0 else
                                 -1, axis=1)          
    df = df.drop(['W','L'],axis=1)
    df['Team'] = df['Team'].replace({
    'New Orleans Hornets': 'New Orleans Pelicans',
    'Charlotte Bobcats': 'Charlotte Hornets',
    'Seattle Supersonics': 'Oklahoma City Thunder',
    'New Jersey Nets': 'Brooklyn Nets'})
    east = new[0]
    west = new[1]
    west = west["Western Conference"].apply(lambda x: x.split("*")[0].strip()).str.split("(", expand=True)[0].str.strip()
    east = east["Eastern Conference"].apply(lambda x: x.split("*")[0].strip()).str.split("(", expand=True)[0].str.strip()
    teams = list(pd.concat([east,west]).reset_index(drop=True))
    for value in teams:
        if value not in df['Team'].values:
            df.loc[len(df)] = { 'Team': value, 'Round Finished': -1}
    df = df.sort_values('Round Finished',ascending = False).reset_index(drop = True)
    return df

In [87]:
result = pd.DataFrame()
new = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2023_standings.html')
for i in range(1999,2024,1):
    print(i)
    df = team_rank(i, new)
    df['Year']=i
    result = pd.concat([result,df], axis=0)

1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023

In [88]:
result

                      Team  Round Finished  Year
0        San Antonio Spurs               5  1999
1          New York Knicks               4  1999
2   Portland Trail Blazers               3  1999
3           Indiana Pacers               3  1999
4                Utah Jazz               2  1999
..                     ...             ...   ...
26         Toronto Raptors              -1  2023
27   Oklahoma City Thunder              -1  2023
28    New Orleans Pelicans              -1  2023
29           Chicago Bulls              -1  2023
30       San Antonio Spurs              -1  2023

[751 rows x 3 columns]

In [94]:
result = result[result['Team'] != 'League Average']

In [95]:
result.to_csv('validation.csv', index=False)

In [96]:
# Pivot the DataFrame
df_pivoted = result.pivot(index='Team', columns='Year', values='Round Finished')

# Reset the index
df_pivoted = df_pivoted.reset_index()

In [97]:
df_pivoted

Year,Team,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Atlanta Hawks,2,-1,-1,-1,-1,-1,-1,-1,-1,...,1,3,2,1,-1,-1,-1,3,1,1
1,Boston Celtics,-1,-1,-1,3,2,1,1,-1,-1,...,-1,1,1,3,3,2,3,1,4,3
2,Brooklyn Nets,-1,-1,-1,4,4,2,1,2,2,...,2,1,-1,-1,-1,1,1,2,1,1
3,Charlotte Hornets,-1,1,2,2,-1,-1,-1,-1,-1,...,1,-1,1,-1,-1,-1,-1,-1,-1,-1
4,Chicago Bulls,-1,-1,-1,-1,-1,-1,1,1,2,...,1,2,-1,1,-1,-1,-1,-1,1,-1
5,Cleveland Cavaliers,-1,-1,-1,-1,-1,-1,-1,2,4,...,-1,4,5,4,4,-1,-1,-1,-1,1
6,Dallas Mavericks,-1,-1,2,2,3,1,2,4,1,...,1,1,1,-1,-1,-1,1,1,3,-1
7,Denver Nuggets,-1,-1,-1,-1,-1,1,1,1,1,...,-1,-1,-1,-1,-1,2,3,2,1,5
8,Detroit Pistons,1,1,-1,2,3,5,4,3,3,...,-1,-1,1,-1,-1,1,-1,-1,-1,-1
9,Golden State Warriors,-1,-1,-1,-1,-1,-1,-1,-1,2,...,1,5,4,5,5,4,-1,-1,5,2
10,Houston Rockets,1,-1,-1,-1,-1,1,1,-1,1,...,1,3,1,2,3,2,2,-1,-1,-1
11,Indiana Pacers,3,4,1,1,1,3,2,1,-1,...,3,-1,1,1,1,1,1,-1,-1,-1
12,Los Angeles Clippers,-1,-1,-1,-1,-1,-1,-1,2,-1,...,2,2,1,1,-1,1,2,3,-1,1
13,Los Angeles Lakers,2,5,5,5,2,4,-1,1,1,...,-1,-1,-1,-1,-1,-1,5,1,-1,3
14,Memphis Grizzlies,-1,-1,-1,-1,-1,1,1,1,-1,...,1,2,1,1,-1,-1,-1,1,2,1
15,Miami Heat,1,2,1,-1,-1,2,3,5,1,...,4,-1,2,-1,1,-1,4,1,3,4
16,Milwaukee Bucks,1,1,3,-1,1,1,-1,1,-1,...,-1,1,-1,1,1,3,2,5,2,1
17,Minnesota Timberwolves,1,1,1,1,1,3,-1,-1,-1,...,-1,-1,-1,-1,1,-1,-1,-1,1,1
18,New Orleans Pelicans,-1,-1,-1,-1,1,1,-1,-1,-1,...,-1,1,-1,-1,2,-1,-1,-1,1,-1
19,New York Knicks,4,3,1,-1,-1,1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,1,-1,2
20,Oklahoma City Thunder,-1,1,-1,1,-1,-1,2,-1,-1,...,3,-1,3,1,1,1,1,-1,-1,-1
21,Orlando Magic,1,-1,1,1,1,-1,-1,-1,1,...,-1,-1,-1,-1,-1,1,1,-1,-1,-1
22,Philadelphia 76ers,2,2,4,1,2,-1,1,-1,-1,...,-1,-1,-1,-1,2,2,1,2,2,2
23,Phoenix Suns,1,2,1,-1,1,-1,3,3,2,...,-1,-1,-1,-1,-1,-1,-1,4,2,2
24,Portland Trail Blazers,3,3,1,1,1,-1,-1,-1,-1,...,2,1,2,1,1,3,1,1,-1,-1
25,Sacramento Kings,1,1,2,3,2,2,1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
26,San Antonio Spurs,5,1,3,2,5,2,5,2,5,...,5,1,2,3,1,1,-1,-1,-1,-1
27,Toronto Raptors,-1,1,2,1,-1,-1,-1,-1,1,...,1,1,3,2,2,5,2,-1,1,-1
28,Utah Jazz,2,2,1,1,1,-1,-1,-1,3,...,-1,-1,-1,2,2,1,1,2,1,-1
29,Washington Wizards,-1,-1,-1,-1,-1,-1,2,1,1,...,2,2,-1,2,1,-1,-1,1,-1,-1

In [99]:
df_pivoted.to_csv('validation2.csv', index=False)